<ion-menu menuId="main-menu" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-row class="menu-background"></ion-row>

      <ion-list class="menu-item" lines="none">
        <ion-item>
          <ion-icon name="home-outline"></ion-icon>Inicio
        </ion-item>

        <ion-item>
          <ion-icon name="calendar-outline"></ion-icon>Agendamentos
        </ion-item>

        <ion-item>
          <ion-icon name="book-outline"></ion-icon>Materias
        </ion-item>

        <ion-item>
          <ion-icon name="accessibility-outline"></ion-icon>Perfil
        </ion-item>

        <ion-item>
          <ion-icon name="people-outline"></ion-icon>Professores
        </ion-item>

      </ion-list>
    </ion-toolbar>
  </ion-header>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>

    </ion-toolbar>
  </ion-header>
</div>


