<ion-header [translucent]="false">
  <ion-toolbar class="navebar">
    <ion-title>
      ClassCalendar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="login">
    <ion-row>
      <ion-col>
        <h1 class="ion-text-center">Login</h1>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label>
          <ion-textarea label="CPF" labelPlacement="floating" fill="outline" placeholder="Digite seu cpf"
            maxlength="11"></ion-textarea>
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label>
          <ion-input label="SENHA" type="password" label-placement="floating" fill="outline"
            placeholder="Digite sua senha"></ion-input>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <a href="">Esqueceu a senha</a>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center button">
        <ion-button> Entrar </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>